// get css filters https://codepen.io/sosuke/pen/Pjoqqp

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&family=Shadows+Into+Light&display=swap');


// variables
$primary-color-lite: #E7E7E7; // grey-white
$accent-color: #ff9900; //orange
$glass-white: #ffffff73; //transparent white
$glass-black: #000000e3; //transparent black

$cursive-font:'Shadows Into Light', cursive;
$subheading: 'Raleway', sans-serif;


// mixins
@mixin flexCenter($direction){
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin section($image_path, $min-height, $padding){
  background-image: url($image_path);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: $min-height;
  padding: $padding;
  // padding: 4em;
}

@mixin btn($padding,$bg_color,$line_height){
 display: inline-block;
 color:#FFFFFF;
 box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
 margin-top:20px;
 border-radius:0.12em;
 text-decoration:none;
 font-family:helvetica, sans-serif;
 font-weight:300;
 font-size: 19px;
 text-align: center;
 transition: all ease-in-out 0.3s;

 padding: $padding;
 background-color: $bg_color;
 line-height: $line_height;
}


// general & resets
  body, html {
    height: 100%;
    color: white;

  }

  body {
    font: 100% / 1.5 poppins;
    font-weight: 300;
  }


    * {
      margin:0;
      padding:0;
      box-sizing: border-box;
    }


.navigation-sub{
  transition: all ease-in-out 0.3s;
  background-color: $glass-white;
  position: absolute;
  width:100%;
  @include flexCenter(row);
  border-bottom: 3px solid $accent-color;
  min-height: 2em;

  .nav-item{
  text-align: center;
  // width: 100%;
  color: white;
  font-family: $subheading;
  text-decoration: none;
  font-weight: 600;
  // color: black;
  padding: 14px;
  transition: .3s;
  margin:0px;
  font-size: 18px;

  }


  // img{
  //   filter: invert(99%) sepia(0%) saturate(7485%) hue-rotate(170deg) brightness(109%) contrast(106%);
  //   width: 85px;
  //   padding: 10px 10px 40px 10px;
  //
  // }
  //
  // img:hover, .svg-active{
  //   filter: invert(58%) sepia(44%) saturate(1894%) hue-rotate(1deg) brightness(102%) contrast(106%);
  // }


}





.nav-item:hover:not(.active):hover {
  background-color: #ffffff33;
}

 .active{
  background-color: $accent-color;

}

// nav

#content{
  height:100%;
}

  #hero-section  {
     @include section("../imgs/hero-img.png", 80%, 50px);
     @include flexCenter(column);
  }

  #about-section{
     @include section("../imgs/about-section.png", 100%, 0);
      @include flexCenter(row);
 }

 #vision-section{
      @include section("../imgs/vision-section.png", 100%, 0);
      @include flexCenter(row);
 }

 #contact-section{
   @include section("../imgs/hero-img.png", 100%, 50px);
   @include flexCenter(column);
 }

 #menu-section{
      @include section("../imgs/menu.png", 100%, 0);
      @include flexCenter(row);
      padding: 90px 0px 90px 0px;

      img{
        border-radius: 15px;
        width: 60%;
      }
 }
footer{
  min-height: 40%;
  background-color: black;
  @include flexCenter(column);

}


.icon2, a{
  z-index:50;
  cursor: pointer;
  // margin: 5px;
  height: 60px;

}

.icon2:hover{
  transform: scale(1.09);
}


.spacer-section{
  min-height: 35%;
  background-color: $primary-color-lite;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  @include flexCenter(column);

}

#spacer1{
    background-image: url("../imgs/tapas2.jpg");
}

#spacer2{
    background-image: url("../imgs/tapas3.png");
}


.btn{
  @include btn(0.45em 2em,$glass-black, 38px)
}

.btn-lite{
  @include btn(0.20em 2em, $accent-color, 50px)
}

.btn-lite:hover, .btn:hover{
  color:#000000;
  background-color: #FFFFFF;
}



  h1 {
    color: $primary-color-lite;
    text-align: center;
    font-family: $cursive-font;
    font-size: 120px;
    line-height: 1.3;
  }

h4{
  color: $primary-color-lite;
  text-align: center;
  font-family: $cursive-font;
  line-height: 1.1;
  font-size: 100px;
}


  .sub-heading{
     color:$primary-color-lite;
      font-family: $subheading;
      font-size: 45px;
      font-weight: 100;
  }

.accent-heading{
    font-family: $cursive-font;
    color: black;
    font-size: 50px;
    font-weight: bold;

}
  .content-container{
    width: 40%;
    margin: 20px;
    padding: 20px;
    @include flexCenter(column);
  }

  .img-container{
    background-color:#af3f3f;
    padding:0px;
  }

  .icon{
    width: 85px;
    padding: 10px 10px 40px 10px;
  }

  .supporting-img{
    width: 450px;
    margin-top: -50px;
  }

  .vision-image{
    margin-left: -150px
  }

  .about-image{
  margin-right: -150px;
}

  p{
    text-align: center;
    font-size: 18px;
  }



  /******************* mobile media queries ********************/

@media screen and (max-width: 1023px) {

#about-section, #vision-section, #hero-section, #menu-section, #contact-section{
  flex-direction: column;
  background-position: top
}

#spacer1{
    background-position: center;
}

.content-container {
    width: 85%;
  }

  .img-container{
    display: none;
  }


.navigation-sub{

   // these commented styles are for if I would like a hamburger menu instea, but with only three nav items I may not need it...
   //  background-color: $glass-black;
   //  @include flexCenter(column);
   //  border-bottom: none;
   //  min-height: 100%;
   // display: none;

    .nav-item{
      font-size: 24px;
      width: 100%;

    }


}

#menu-section img{

       width: 90%;
       border-radius: 0px;

}
// these commented styles are for if I would like a hamburger menu instea, but with only three nav items I may not need it...
// .active{
//   background-color: transparent;
//   color: $accent-color
// }


.sub-heading{
  text-align: center;
}

// .hero-container{
//     @include flexCenter(column);
// }

#hero-section{
  padding-top: 90px;
}

}

/* Galaxy Fold */
@media only screen
   and (max-width : 280px)
   and (max-height : 653px) {


     // .nav-item{
     //   padding: 5px;
     // }


}

/* IPhone 5/SE */
@media only screen
   and (max-width : 320px)
   and (max-height : 568px) {


}

/*  general iPad */
@media only screen and (device-width: 768px) {


}

/* ipad pro */
@media only screen

  and (min-width: 1024px)
  and (max-height: 1366px)
  and (-webkit-min-device-pixel-ratio: 1.5) {

}
